*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html, body , #main{
    height: 100%;
    width: 100%;
    background-color: #F6F3F0;
}

#nav{
    /*line 17 and 18 fix the navabar*/
    position: fixed;
    width: 100%;
   padding: 3px 15px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

#nav h3{
    margin-left: 4px;
    background-color: black;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 12px 15px;
    

}
#nav h3 a{
    text-decoration: none;
   
}
/*use of pseudo selector to disable color change of anchor tag when visited*/

 #nav h3 a:visited{ color: rgb(255, 252, 252) }


#intro{
    height: 45%;
    width: 100%;
    padding: 50px;
}

#intro h1{
    font-size: 62px;
    line-height: 63px;
    letter-spacing: -3px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#place h3{
    font-size: 17px;
}
#hero-img{
    width: 100%;
    height: 87%;
    background-image: url("https://images.unsplash.com/photo-1708772412816-192fd83fcb18?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNTN8fHxlbnwwfHx8fHw%3D");
    background-size: cover; 
}

#about
{
    padding: 23px;
    margin-bottom: 23px;
    display: flex;
    border-bottom: 2px solid;
}
#about h2{
    letter-spacing: -3px;
    width: 65%;
    height: 30%;
    font-size: 60px;
    border-right: 3px solid;
}

#about-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px 20px;
}
#about-socials h3{
    font-size: 28px;
}
 #links a{
    border-radius: 112px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 7px 7px;
    margin-left: 12px;
    font-size: 26px;
 }

 #work{
    height: 60%;
    width: 100%;
    display: flex;
    border-bottom: 2px solid;
    /* background-color:red; */
    /* padding: 30px 12px; */
 }
 #work-part1{
    display: flex;
    justify-content: space-between;
    height: 65%;
    width: 40%;
    border-right: 2px solid;
    padding: 12px 30px;
    font-size: 20px;
 }

 #work-part2{
    padding: 50px;
 }
 /*we define nth child property for this */
#work-part2 h4{
    font-size: 30px;
    /* line-height: 30px; */
} 

#work-part2 p{
    font-size: 12px;

} 


.work2-subpart:nth-child(1)
{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 23px;
    border-bottom: 2px solid;
}

.work2-subpart:nth-child(2)
{
    
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 20px 23px;
     
}
.work2-subpart .elem{
    width: 50%;
    height: 100%;
}
.elem:nth-child(1){
    margin-right: 23px;
    border-right: 2px solid;
}


