*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(221, 221, 221);
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 95%;
    height: 90%;
     background: #fff;
    margin: 47px;
    border-radius: 18px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    padding-top: 20px;
}
#nav-part1, #nav-part2, #nav-part3{
    display: flex;
    align-items: center;
    padding: 5px 23px;
}
#nav h3{
    font-weight: 508;
    border: 2px solid black;
    border-radius: 17px;
    padding: 5px 10px;
}

#nav i{
    border: 2px solid black;
    border-radius: 17px;
    padding: 5px 10px;
}

#nav h2{
    font-weight: 500;
    font-size: 22px;
}

#nav button{
    padding: 7px 12px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 600;

}
#Login{
    background-color: #fff;
}

#Signup{
    color: #fff;
    background-color: #e95f0f;
    border: none;
    
}

/* '>' means main ke direct child */
#main>h1{
    
    position: absolute;
    font-size: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    width: 95%;
    text-align: center;
    font-weight:100;
}

img{
    height: 320px;
    width: 300px;
    object-fit: cover; /*used when img tag is used*/
    object-fit: top;
    /*center pe laane*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 18px;
}

#img-1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img-4{
    transform: translate(-50%,-50%) rotate(10deg);
}
#img-2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img-3{
    transform: translate(-50%,-50%) rotate(-10deg);
}


#btm-left{
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-size: 25px;
    font-weight: 100;
}

#arrow-down{
    position: absolute;
    left: 47%;
    bottom: 4.5%;
    font-size: 100px;
    
   
}

#socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:343;
    position: absolute;
    right: 5%;
    bottom: 12%;
}
#btm-right>h3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 5%;
    bottom: 9%;
    font-weight: 100;
}
